body {
    background-color: lightgoldenrodyellow;
    font-family: Helvetica;
}

h1, h3 {
    font-family: 'Fraunces', serif;
}

#listOfInstruments {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    padding: 1em;
}

details {
    margin-top: .5em;
    font-size: .75em;
}

button, input[type=submit] {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

#addInstrument {
    text-align: center;
}